@charset "utf-8";

/*******顶部导航  start******************************************/
.Mobile-header{ height: 164px;box-sizing: border-box; }

.Mobile-header-top{width: 100%;height: 30px;background-color: #f6f6f6;line-height: 30px;border-bottom: 1px solid #dfdfdf;}
.Mobile-header-top .top-icon{display: inline-block;width: 12px;height:16px;vertical-align: middle;padding-right: 4px;}
.header-top-left  ul li{float: left;padding-right: 10px;}
.header-top-left  .left-icon1{background:url('../images/ewm_icon.png') 0 0 no-repeat;}
.header-top-left  .left-icon2{background:url('../images/sc_icon.png') 0 0 no-repeat;}
.header-top-right .right-icon1{height: 24px;background:url('../images/phone_icon.png') 0 0 no-repeat;}
.header-top-right .right-icon2{height: 8px;width: 12px;background:url('../images/arrow.png') 5px 0 no-repeat;}
.header-top-right ul{float: right;box-sizing: border-box;}
.header-top-right ul li{float: left;padding:0 5px;}
.header-top-right .top-right-phone{position: relative;z-index: 100;}
.header-top-right .top-right-normal{padding: 0 5px;}
.header-top-right .top-right-child{display:none;width: 200px;height: 110px;position: absolute;border: 1px solid #dfdfdf;border-top: none;background-color: #fff;z-index: 10;top:31px;}
.header-top-right .top-right-child dd{vertical-align: bottom;padding:8px 10px;}
.top-word-hover{
	border: 1px solid #dfdfdf;border-bottom: none;padding: 0 4px;height: 29px;background-color: #fff;top:1px;position: relative;background-color: #fff;
}

.Mobile-header-middle { height: 93px; position: relative;}
.Mobile-header-middle .header-logo{margin-right: 40px;}
.Mobile-header-middle .header-middle-pic{ line-height: 93px; }
.Mobile-header-middle .header-middle-order{position: absolute;right: 0;top:32px;}
.header-middle-order .middle-order {border: 1px solid #dfdfdf;height: 32px;width: 102px;box-sizing: border-box;display:inline-block;/*float: left;*/text-align: center;line-height: 32px;cursor:pointer;}
.header-middle-order .order-favo{margin-right: 14px;}
.middle-order .middle-order-down{display: inline-block;width: 10px;height: 8px;background: url(../images/arrow2.png) no-repeat;}

.middle-order .order-favo-child{display: none;width: 100px;border: 1px solid #dfdfdf;position: absolute;top:30px;}

.middle-order .middle-order-up{display: inline-block;width: 20px;height: 22px;background: url(../images/num_bg.png) no-repeat;position: absolute;top:-20px;}
 .middle-order .middle-order-num{position: absolute;top:-26px;right: 3px;color:#fff;}


.Mobile-header-mainnav{width: 100%;background-color: #0085d0;height: 40px;line-height: 40px;font-size: 20px;}
.Mobile-header-mainnav ul li{float: left;padding:0 22px;}
.Mobile-header-mainnav ul li a{color:#fff;}
.Mobile-header-mainnav .header-mainnav-selected{background-color: #8ec31f;}
/*.Mobile-header-mainnav ul .*/
.Mobile-header-mainnav ul .header-mainnav-first{width: 200px;background-color: #0369a4;color: #fff;box-sizing: border-box;}



/*******顶部导航  end***************/


/************轮播图 侧边栏aside*******************************/
.Mobile-ad{height: 368px;box-sizing: border-box;background-color: pink;position: relative;margin-bottom: 30px;}
 .Mobile-ad-figure{max-width: 2099px;height: 368px;}

.Mobile-ad .Mobile-ad-aside{width: 200px;height: 368px;background-color: #fff;position: absolute;top: 0;left: 300px;z-index: 100;}
.Mobile-ad-aside .ad-aside-item{padding: 12px;box-sizing: border-box;border-bottom:1px dashed #dfdfdf;margin: 0  4px;cursor: pointer;}
.Mobile-ad-aside .ad-aside-item h3{font-weight: bold;font-size: 16px;padding-bottom: 4px;}
.Mobile-ad-aside .ad-aside-icon{display: inline-block;width: 22px;height: 20px;position: relative;top: 4px;}
.Mobile-ad-aside .ad-aside-item p{text-indent: 20px;font-size: 12px;}
.Mobile-ad-aside .ad-aside-item .aside-icon1{background: url(../images/icon.png) 0 0 no-repeat;}
.Mobile-ad-aside .ad-aside-item .aside-icon2{background: url(../images/icon.png) 0 -64px no-repeat;}
.Mobile-ad-aside .ad-aside-item .aside-icon3{background: url(../images/icon.png) 0 -154px no-repeat;}
.Mobile-ad-aside .ad-aside-item .aside-icon4{background: url(../images/icon.png) 0 -228px no-repeat;}
.Mobile-ad-aside .ad-aside-item .aside-icon5{background: url(../images/icon.png) 0 -299px no-repeat;}
/*******轮播图 侧边栏  end*******/

/*******banner 广告区域 start****************/
 .Mobile-banner{display: flex;justify-content: space-between;margin-bottom: 30px;}
 .Mobile-banner-pic{width: 326px;height: 125px;}/*如果flex不可用，那就使用margin 或者 padding 剩余宽度22，一边11*/
/*******banner 广告区域 end*****/


/*********合约机 start*********/
.Mobile-concent{ height: 460px;margin-bottom: 30px;color:#333;box-sizing: border-box;position: relative;}
.Mobile-concent .content-box{ height: 420px;border:1px solid #e6e6e6;margin-bottom: 30px;box-sizing: border-box; }
.Mobile-concent h2{font-size: 20px;height: 40px;}
.Mobile-concent h2 span{font-size: 12px;color:#999;padding-left: 20px;}
.Mobile-concent-aside{	width: 200px;height: 420px; }
.Mobile-concent-aside ul{/*height:420px;*/height:42%;width: 200px;margin:0 auto;padding-top:10px;background-color: #ebebeb;box-sizing: border-box;padding-left: 6px;position: absolute;z-index: 100;overflow: hidden;}
.Mobile-concent-aside .content-img{height: 100%;background: url(../images/temp/ggw_pic.png) 0 192px no-repeat;}
.Mobile-concent-aside li{list-style: disc;margin-left: 18px;}
.Mobile-concent-aside li h3{font-size: 14px;font-weight: bold;line-height: 30px;padding:4px 0;}
.Mobile-concent-aside li p{color: #9e9e9e}
.Mobile-concent-aside li .concent-aside-child{display: none;}
.Mobile-concent-aside li .concent-aside-child dd{padding:4px 0;display: inline-block;width: 170px;color:#9e9e9e;}
.Mobile-concent-aside .concent-aside-down{list-style:none;background: url(../images/shrink_arrow.jpg) no-repeat;width: 28px;height: 25px;position: absolute;left:68px;bottom: 15px;cursor:pointer; }
.Mobile-concent-product {display: inline-block;width: 800px;height: 420px;}
.Mobile-concent-product .concent-product-pic{display: inline-block;width: 410px;border-left:1px solid #e6e6e6; }
.Mobile-concent-product .product-pic1{position: absolute;top:41px;right:1px;z-index: 100;}
.Mobile-concent-product .product-pic2{position: absolute;top:41px;right:207px;z-index:10;}
.Mobile-concent-product .product-pic3{position: absolute;top:41px;left:201px;z-index: 1;}
/*********合约机 end*********/



