@charset "utf-8";

*{padding-left: 0;margin: 0;}
body{font-size: 14px;}
li{list-style: none;}
a{text-decoration: none;color: #000;cursor: pointer;}
#yidong{
	height: 100%;
}


/*悬浮flex*/
.yidong-wrapper{
	width: 40px;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10
}
.yidong-cards{
	width: 40px;
	height: 500px;
	margin-top: 80px;
}
.yidong-card3{
	width: 32px;
	padding-left: 8px;
	padding-top: 10px;
}
.yidong-card1{
	height: 50px;
	width: 32px;
	padding-left: 8px;
	padding-top: 10px;
	border-bottom: 1px solid #fff;
}
.yidong-card2{
	height: 150px;
	width: 32px;
	padding-left: 8px;
	padding-top: 10px;
	border-bottom: 1px solid #fff;
}
.yidong-card2 ul{
	padding-left: 6px;
}
.yidong-card2 ul li{
	color: #fff;
}
.yidong-card3 img{
	padding: 5px;
}
.yidong-card1:hover,.yidong-card2:hover,.yidong-card3 img:hover{
	background: #e5248f;
}





/*头部*/
#yidong-header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}
.yidong-header-center{
	width: 80%;
	margin: 0 auto;
}
#yidong-header .yidong-header-ul{
	display: inline-block;
}
.yi-header-ul1 li:last-child{
	text-indent: 20px;
}
#yidong-header .yi-header-ul2{
	margin-left: 15%;
	text-indent: 20px;
} 
#yidong-header .yi-header-ul3{
	position: relative;
	left: 800px;
	top: -30px;
	margin-left: 3%;
	text-indent: 10px;
} 
#yidong-header .yidong-header-none{
	width: 80px;
	height: 90px;
	background: #eee;
	display: none;
	text-align: center;
	position: relative;
	top: -28px;
	left: 850px;
	text-indent: 5px;
	z-index: 2;
	background: #01AAED;
	color: #fff;
}
#yidong-header .yidong-header-ul li{
	display: inline-block;
}
#yidong-header .yidong-header-ul li i{
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	position: relative;
	top: 5px;	
}
#yidong-header .yi-header-ul3 li a{
	border-left: 1px solid #666;
	padding-left: 10px;
}




/*头部横幅*/
#yidong-banner{
	width: 100%;
	height: 100px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
#yidong-banner .yidong-banner-center{
	width: 80%;margin: 0 auto;
}
#yidong-banner .yidong-banner-center ul{
	height: 50px;
	position: relative;
	top: 30px;
}
#yidong-banner .yidong-banner-center .yidong-banner-li1{
	width: 70px;
	margin-left: 20px;
}
#yidong-banner .yidong-banner-center .yidong-banner-li2{
	width: 85px;
}
#yidong-banner .yidong-banner-center .yidong-banner-li3{
	width: 110px;
}
#yidong-banner .yidong-banner-center .yidong-banner-li4{
	width: 100px;
}
#yidong-banner .yidong-banner-center .yidong-banner-li img{
	float: left;
}
#yidong-banner .yidong-banner-center li{
	display: inline-block;
}
#yidong-banner .yidong-banner-center .yidong-banner-li{
	padding:0 15px;
	border-right: 1px solid #666;
}
#yidong-banner .yidong-banner-center .yidong-banner-dd{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	position: relative;
	left: 76%;
	top: -10px;
	background: #eee;
	text-align: center;
}
#yidong-ad .yidong-ad-center .yidong-ad-dd img{
	position: relative;
	top: -6px;
	left: 5px;
}



/*轮播*/
/*轮播部分的分栏目部分*/
#yidong-turns{
	width: 100%;
	height: 400px;
}
#yidong-turns .yidong-pro{
	width: 100%;
	height: 42px;
	background: #1E9FFF;
}
#yidong-turns .yidong-pro ul{
	width: 1000px;
	height: 42px;
	line-height: 42px;

}
#yidong-turns .yidong-pro ul li a{
	font-size: 18px;
	color: #fff;
}
#yidong-turns .yidong-pro ul li{
	display: inline-block;
	width: 120px;
	text-align: center;
	position: relative;
	left: 135px;
	top: -1px;
}
#yidong-turns .yidong-pro ul .yidong-pro-big{
	width: 200px;
	background: #5E9FFF;
}


/*轮播部分的轮播图片部分*/
.yidong-bgr{
	width: 100%;
	height: 368px;
	overflow: hidden;
}
.yidong-bgr-pic{
	width: 100%;
	height: 368px;
}

/*轮播部分的左边栏部分*/
.yidong-aside{
	width: 200px;
	height: 368px;
	background: #fff;
	position: relative;
	top: -368px;
	left: 135px;
	z-index: 5;
}
.yidong-aside-part{
	width: 200px;
	height: 73px;
	border-bottom:1px dashed #ccc;
}
.yidong-aside-part ul{
	padding-top: 5px;
	padding-left: 20px;
	position: relative;
	top: -12px;
	width: 160px;
	height: 35px;
	margin: 0 auto;
}
.yidong-aside-part ul li{
	display: inline-block;
	font-size: 14px;
}
.yidong-aside b{
	position: relative;
	top: -12px;
	font-size: 16px;
}

.num{
	margin: 10px;
	display: inline-block;
	width: 17px;
	height: 17px;
}
.yidong-aside-part-icon1{
	background: url(../images/icon_01.png);
}
.yidong-aside-part-icon2{
	background: url(../images/icon_02.png);
}
.yidong-aside-part-icon3{
	background: url(../images/icon_03.png);
}
.yidong-aside-part-icon4{
	background: url(../images/icon_04.png);
}
.yidong-aside-part-icon5{
	background: url(../images/icon_05.png);
}
.yidong-aside-part .yidong-aside-display{
	width: 200px;
	height: 70px;
	color: #fff;
	position: relative;
	left: 200px;
	top: -80px;
	background: #01AAED;
	display: none;
}



/*广告区域*/
.yidong-ad{
	width: 1200px;
	height: 125px;
	position: relative;
	top: 40px;
	margin:0 auto;
}
.yidong-ad img{
	margin-left: 10px;
}
.yidong-ad .img1{
	margin-left: 60px;
}


/*小导航*/
.yidong-little1{
	width: 1100px;
	height: 30px;
	line-height: 30px;
	position: relative;
	top: 60px;
	margin: 0 auto;
}
.yidong-little1 .yidong-little1-b{
	font-size: 18px;
	padding-left: 10px;
}
.yidong-little1 .yidong-little1-span{
	padding-left: 15px;
	color: #666;
}
.yidong-little1 .yidong-little1-a{
	position: absolute;
	left: 970px;
}


/*手风琴区域*/
.yidong-accordion{
	width: 1100px;
	height: 420px;
	margin: 0 auto;
	position: relative;
	top: 70px;
}
.yidong-accordion .yidong-accordion-left{
	float: left;
	display: inline-block;
	width: 198px;
	height: 418px;
	background: #eee;
	border: 1px solid #ccc;
}
.yidong-accordion .yidong-accordion-left .yidong-accordion-left-ul{
	position: absolute;
	top: 15px;
	width: 200px;
	height: 340px;
}
.yidong-accordion-left .yidong-accordion-left-ul .yidong-accordion-left-oth{
	list-style-type: disc;
	text-indent: -5px;
	margin: 5px 20px;
	font-size: 16px;
}
.yidong-accordion-left .yidong-accordion-left-ul li{
	margin: 5px 20px;
}
.yidong-accordion-left .yidong-accordion-left-img{
	position: absolute;
	top: 360px;
	left: 90px;
}


/*手风琴图片区域*/
.yidong-accordion .yidong-accordion-content{
	float: left;
	display: inline-block;
	width: 900px;
	height: 420px;
	overflow: hidden;
}
.yidong-accordion-content .yidong-accordion-pic{
	border: 1px solid #ccc;
	margin-left: -1px;
	width: 298px;
	height: 420px;
	float: left;
	overflow: hidden;
}

/*小导航*/
.yidong-little2{
	width: 1100px;
	height: 30px;
	line-height: 30px;
	position: relative;
	top: 80px;
	margin: 0 auto;
}
.yidong-little2 .yidong-little2-b{
	font-size: 18px;
	padding-left: 10px;
}
.yidong-little2 .yidong-little2-a{
	padding-right: 20px;
	float: right;
}


/*二级换菜单区域*/
.yidong-menu{
	width: 1100px;
	height: 420px;
	margin: 0 auto;
	position: relative;
	top: 85px;
}
.yidong-menu .yidong-menu-left{
	float: left;
	display: inline-block;
	width: 198px;
	height: 418px;
	background: #eee;
	border: 1px solid #ccc;
}
.yidong-menu .yidong-menu-left .yidong-menu-left-ul{
	border-bottom: 1px solid #ccc;
	width: 199px;
	height: 300px;
}
.yidong-menu .yidong-menu-left .yidong-menu-left-ul li{
	display: block;
	width: 170px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	padding-left: 29px;
}
.yidong-menu .yidong-menu-left .yidong-menu-left-ul li:hover{
	background: #01AAED;
}
.yidong-menu-left .yidong-menu-side{
	padding-top: 20px;
}
.yidong-menu-left .yidong-menu-side span{
	padding-left: 20px;
}
.yidong-menu-left .yidong-menu-side li{
	display: inline-block;
	padding-left: 20px;
}
.yidong-menu .yidong-menu-content{
	float: left;
	display: inline-block;
	width: 900px;
	height: 420px;
	overflow: hidden;
}
.yidong-menu-content .yidong-menu-pic{
	border: 1px solid #ccc;
	margin-left: -1px;
	width: 223px;
	height: 420px;
	float: left;
	overflow: hidden;
}
